body {
  background: url(../img/background.jpg) no-repeat;
  background-attachment: scroll;
  background-size: cover;
  font-size: 16px;
}

.cabecera {
  background-color: none;
  min-height: 130px;
}

.logo {
  margin-top: 10px;
  width:100px;
  filter: invert(100%);
  display: inline;
}
h1{
	display: inline-block;
	margin-left: 20px;
	color: #FF0000;
}

.redes-sociales {
  padding: 0px;
  float: right;
  margin-top: 70px;
  }
  .redes-sociales a{
  	margin: 0 5px 0 5px;
  }

.img-social{
  width: 30px;
  height: 30px;
}
p{
  text-align: justify;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
h3{
  color: red;
}

.list-group li{
  background: rgba(0, 0, 0, 0.5);
  color: white;
  margin-bottom: 1px;
  border: 1px solid red;
  border-radius: 20%;
}

.comentario {
  margin-top: 30px;
  height: 60px;
  width:50px;
  padding: 0px;
}
.img-responsive{
  padding-top: 80px;
}

@media (min-width:770px) {
/*Clase para ocultar componentes html*/
.img-responsive{
  margin-top: 80px;
  height: 100%;
  width:100%;
  display: block;
  margin:auto;
}

}

